@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Raleway', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: var(--bg);
}

:root {
    --white: #ffffff;
    --black: #000000;
    --brown: #533125;
    --bg: #282321;
}




/*  */

.bg-headline {
    background: rgba(0, 0, 0, 0.231) url('../images/bg-headline.png');
    background-blend-mode: darken;
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    max-width: 100%;
}


.navbar {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    padding-top: 2.5rem;
}

.navbar .logo {
    display: flex;
    align-items: center;
    gap: 10px;
    text-align: center;
}

.navbar .logo h1 {
    font-family: 'Lobster', cursive;
    font-size: 50px;
    font-weight: normal;
    color: var(--white);
}

.navbar .logo img {
    width: 60px;
}

.navbar .menu {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.navbar .menu a {
    text-decoration: none;
    color: var(--white);
    font-size: 21px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}

.navbar .menu a:hover {
    border-top: 2px solid var(--white);
}

.navbar .menu a:nth-child(5) {
    margin-left: 10px;
    background: var(--white);
    padding: 10px 12px;
    border-radius: 5px;
    color: var(--black);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}

.navbar .menu a:nth-child(5):hover {
    opacity: 0.8;
}

.navbar .menu a:nth-child(5):active {
    transform: scale(0.95);
}

.bg-headline .headline {
    position: absolute;
    display: flex;
    width: 100%;
    height: 50%;
    top: 30%;
    align-items: center;
    padding: 0 12%;
}

.bg-headline .headline .headline-content {
    display: flex;
    flex-flow: column wrap;
    text-align: left;
}

.headline .headline-content h3 {
    color: var(--white);
    font-size: 30px;
    letter-spacing: 15px;
    font-family: 'Raleway', sans-serif;
}

.headline .headline-content h2 {
    color: var(--white);
    font-size: 100px;
    font-weight: 900;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 5px;
}

.headline .headline-content p {
    color: var(--white);
    font-size: 30px;
    font-family: 'Raleway', sans-serif;
}

.headline .headline-content button {
    margin-top: 35px;
    border: none;
    padding: 12px 14px;
    width: 10.5rem;
    border-radius: 5px;
    background: var(--brown);
    color: var(--white);
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.headline-content button:hover {
    opacity: 0.8;
}

.headline-content button:active {
    transform: scale(0.95);
}


/*  End of Header */


/*  */

.about {
    display: flex;
    flex-flow: row wrap;
    min-height: 500px;
    background: var(--bg);
    padding: 100px 0px 70px 0;
}

.about-text {
    margin-left: 12%;
    flex: 46%;
}

.about-text h2 {
    padding-top: 10px;
    text-align: center;
    color: var(--white);
    font-size: 60px;
}

.about-text h2 span {
    color: #CCB560;
}

.about-text p {
    padding: 55px 25px 0 25px;
    font-size: 24px;
    color: var(--white);
}

.about-img {
    margin-right: 12%;
    flex: 20%;
    text-align: right;
}

.about-img img {
    width: 90%;
}


/* End of about us */

.row {
    display: flex;
    justify-content: center;
}

hr {
    width: 76%;
}

/*  */

.services {
    display: flex;
    flex-flow: column wrap;
    min-height: 700px;
    max-width: 100%;
    background: var(--bg);
}

.services h2 {
    text-align: center;
    margin-top: 50px;
    color: var(--white);
    font-size: 60px;

}

.services h2 span {
    color: #CCB560;
}

.container-card {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    margin: 70px 12% 0 12%;
    padding-bottom: 70px;
    gap: 100px;
}

.container-card .card-body {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    background: #533125;
    width: 289px;
    height: 360px;
    border-radius: 7px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
    margin-left: 10px;
}

.card-item {
    padding: 30px;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    gap: 10px;
    font-family: 'Raleway', sans-serif;
}

.card-item img {
    width: 40%;
}

.card-item span {
    display: block;
}

.card-item h3 {
    font-size: 25px;
    color: var(--white);
}

.card-item p {
    color: var(--white);
    font-size: 22px;
}

.card-item button {
    margin: 10px 0;
    border: none;
    padding: 12px 14px;
    width: 10.5rem;
    border-radius: 5px;
    background: #ccb560;
    color: var(--white);
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}


.card-item button:hover {
    opacity: 0.8;
}

.card-item button:active {
    transform: scale(0.95);
}

/* End of section services */

/*  */

.store {
    display: flex;
    flex-flow: row wrap;
    min-height: 900px;
    background: var(--bg);
    margin: 0 12% 0 12%;
    padding: 100px 0px 40px 0;
}

.store h2 {
    width: 100%;
    text-align: center;
    margin-top: 50px;
    color: #ccb560;
    font-size: 60px;

}


.container-slider {
    position: relative;
    max-width: 100%;
}

.slider-wrapper {
    overflow-x: auto;
    padding: 40px
}


#slider {
    display: flex;
    flex-flow: row nowrap;
    gap: 20px;
}

#slider .card-slider {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    min-width: 550px;
    min-height: 350px;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}

.card-slider .bar {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 0;
    height: 50px;
    width: 100%;
    padding: 0 0 0 5%;
    background: #c0c0c0;
    gap: 20px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.card-slider-img {
    padding-bottom: 20px;
}


.card-slider .card-slider-img img {
    width: 200px;
    background-color: #000000;
}


.name-product {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    height: 100%;
    flex: 35%;
}

.name-product p {
    font-size: 20px;
    font-weight: 500;
}

.price-product {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    height: 100%;
    flex: 15%;
}


.shopping-cart {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    height: 100%;
    flex: 45%;
    background: #533125;
    border-bottom-right-radius: 10px;
    color: #ffffff;
    padding-left: 20px;
    gap: 5px;
}

.shopping-cart a {
    font-size: 14px;
    padding: 15px 25px 15px 0;
}

.shopping-cart img {
    width: 25px;
}

.shopping-cart:hover {
    opacity: 0.8;
    cursor: pointer;
}

.shopping-cart:active {
    padding: 10px;
}

.shop-title-area .shopTitle {
    display: block;
}

.shop-title-area {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 12%;
    min-height: 15px;
    padding-bottom: 20px;
    margin-bottom: 15px;
}

.shop-title-area h2 {
    font-size: 60px;
    color: var(--white);
}

.shop-title-area span {
    color: #ccb560;
}

#shop {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    margin: 0 12%;
    gap: 10px;
    min-height: 300px;
}

.card-lista {
    display: flex;
    flex-flow: row nowrap;
    position: relative;
    width: 80%;
    min-height: 60px;
    border-radius: 10px;
    background: var(--white);
    margin-bottom: 30px;
}

.name-item {
    flex: 55%;
    padding-left: 20px;
}

.price-item {
    background: #c0c0c0;
    flex: 15%;
    justify-content: center;
}

.button-item {
    flex: 30%;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

.name-item,
.price-item,
.button-item {
    display: flex;
    align-items: center;

}

.name-item,
.price-item {
    font-size: 20px;
    font-weight: 600;
}

.button-item button {
    border: none;
    width: 100%;
    height: 100%;
    background: var(--brown);
    color: var(--white);
    font-size: 20px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    justify-content: center;
}



/* End of section store */

/*  */

.footer {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    background: #000000;
    min-height: 600px;
    color: var(--white);
}

.menu-footer {
    flex: 24%;
    margin-left: 12%;
}

.footer .menu-footer h2 {
    color: var(--white);
    font-size: 40px;
    font-family: 'Lobster', cursive;
}

.footer .menu-footer span {
    color: #ccb560;
    font-family: 'Lobster', cursive;
}

.menu-footer nav ul {
    list-style: none;
    padding-top: 20px;
}

.menu-footer nav li,
a {
    text-decoration: none;
    font-size: 22px;
    padding-top: 5px;
    color: var(--white);
}

.contact {
    flex: 26%;
    text-align: center;
    height: 169px;
}

.footer .contact h2 {
    color: #ccb560;
    font-size: 30px;
    padding-bottom: 20px;
}


.footer .contact ul {
    list-style: none;
}

.contact ul li {
    text-decoration: none;
    font-size: 22px;
    padding-top: 5px;
    color: var(--white);
}


.doubts {
    flex: 26%;
    margin-right: 12%;
    height: 169px;
    text-align: center;
}

.footer .doubts h2 {
    font-size: 30px;
    color: #ccb560;
    padding-bottom: 20px;
}

.footer .doubts ul {
    list-style: none;
}

.footer .doubts li {
    font-size: 22px;
    color: var(--white);
}

.creator {
    width: 100%;
    border-top: 2px solid #ccb560;
    margin: 0 12%;
    padding-top: 100px;
    text-align: center;
}

.creator h2 {
    font-size: 40px;
}

.creator span {
    color: #ccb560;
}

/* End of footer */



/* CSS responsive */


@media screen and (max-width: 1000px) {

    /*  */

    .navbar .menu {
        display: none;
    }

    /* End of navbar */

    /*  */

    .headline .headline-content h3 {
        font-size: 25px;
        letter-spacing: 12px;
    }

    .headline .headline-content h2 {
        font-size: 80px;
    }

    .headline .headline-content p {
        font-size: 25px;
    }

    .headline .headline-content button {
        width: 9.5rem;
        font-size: 15px;
        font-weight: 500;
    }

    /* End of Headline */

    /*  */


    .about-img {
        display: none;
    }

    .about-text {
        margin-right: 12%;
    }

    /* End of about us */

    /*  */

    .container-card {
        gap: 40px;
        justify-content: center;
    }

    /* End of services */

    /*  */


    .doubts {
        padding-top: 50px;
        margin-right: 12%;
        margin-left: 12%;
    }
}




@media screen and (max-width: 790px) {

    /*  */

    .navbar .logo h1 {
        font-size: 40px;
    }

    .navbar .logo img {
        width: 50px;
    }

    /* End of Navbar */

    /*  */

    .bg-headline{
        height: 85vh;
    }

    .bg-headline .headline{
        top: 20%;
    }

    .headline .headline-content h3 {
        font-size: 20px;
        letter-spacing: 8px;
    }

    .headline .headline-content h2 {
        font-size: 60px;
    }

    .headline .headline-content p {
        font-size: 20px;
    }

    .headline .headline-content button {
        width: 9rem;
        font-size: 15px;
        font-weight: 500;
    }

    /* End of section headline */

    /*  */

    .about-text h2 {
        font-size: 50px;
    }

    .about-text p {
        font-size: 20px;
    }

    /* End of section about us */

    /*  */


    .services h2 {
        font-size: 50px;
    }

    .container-card .card-body {
        width: 250px;
        height: 320px;
    }

    .card-item {
        gap: 15px;
    }

    .card-item h3 {
        font-size: 20px;
    }

    .card-item p {
        font-size: 18px;
    }

    .card-item button {
        width: 9.5rem;
        font-size: 16px;
    }

    /* End of section services */

    /*  */

    .store h2 {
        font-size: 50px;
    }

    #slider .card-slider {
        min-width: 500px;
        min-height: 325px;
    }

    .name-product p {
        font-size: 16px;
        font-weight: 500;
    }

    .shopping-cart a {
        font-size: 12px;
        padding: 15px 25px 15px 0;
    }

    .shopping-cart img {
        width: 20px;
    }

    /* End of section products */

    /*  */

    .shop-title-area h2 {
        font-size: 50px;
    }

    .name-item,
    .price-item,
    .button-item button {
        font-size: 15px;
    }

    /* End of section cart */

    /*  */

    .footer .menu-footer h2 {
        font-size: 32px;
    }

    .menu-footer nav li,
    a {
        font-size: 18px;
    }

    .footer .contact h2,
    .footer .doubts h2 {
        font-size: 28px;
    }

    .contact ul li,
    .footer .doubts li {
        font-size: 18px;
    }

    .creator h2 {
        font-size: 35px;
    }

    /* End of footer */
}

@media screen and (max-width: 550px){

    /*  */

    .navbar .logo h1 {
        font-size: 30px;
    }

    .navbar .logo img {
        width: 40px;
    }
    
    /* End of navbar */

    /*  */

    .headline .headline-content h3,
    .headline .headline-content p{
        font-size: 15px;
    }
    
    .headline .headline-content h2 {
        font-size: 50px;
    }

    .headline .headline-content button{
        width: 8.5rem;
    }

    /* End of Headline */

    .about-text h2,
    .services h2 {
        font-size: 42px;
    }

    .about-text p {
        font-size: 18px;
    }

    .container-card .card-body {
        width: 220px;
        height: 280px;
    }

    .card-item {
        gap: 15px;
    }

    .card-item h3 {
        font-size: 18px;
    }

    .card-item p {
        font-size: 16px;
    }

    .card-item button {
        width: 8.5rem;
        font-size: 14px;
    }

    .store h2{
        margin-top: 10px;
        font-size: 42px;
    }

    #slider .card-slider {
        min-width: 360px;
        min-height: 280px;
    }

    .name-product p {
        font-size: 14px;
        font-weight: 500;
    }

    .shopping-cart a {
        font-size: 10px;
        padding: 15px 25px 15px 0;
    }

    .shopping-cart img {
        display: none;
    }

    .card-slider .card-slider-img img {
        width: 125px;
        background-color: #000000;
    }

    .shop-title-area h2 {
        font-size: 42px;
    }

    .name-item,
    .button-item button {
        font-size: 12px;
    }

    .price-item{
        font-size: 10px;
    }

    .footer{
        flex-flow: column;
        gap: 25px;
        text-align: center;
        padding-top: 50px;
    }

    .menu-footer {
        flex: 24%;
        margin-left: 12%;
        margin-right: 12%;
    }

    .creator{
        width: 76%;
        padding-top: 65px;
        padding-bottom: 50px;
    }

    .creator h2{
        font-size: 25px;
    }
}

@media screen and (min-width: 375px) and (max-width: 451px){
    
    .navbar .logo h1{
        font-size: 30px;
    }

    .navbar .logo img{
        width: 30px;
    }

    .bg-headline{
        height: 70vh;
    }

    .bg-headline .headline{
        top: 15%;
    }

    .headline .headline-content h3{
        letter-spacing: 5px;
        font-size: 14px;
    }
    .headline .headline-content p{
        font-size: 15px;
    }
    
    .headline .headline-content h2 {
        font-size: 38px;
    }

    .headline .headline-content button{
        width: 7.5rem;
        font-size: 12px;
    }

    .about-text h2,
    .services h2{
        font-size: 38px;
    }

    .about-text p{
        font-size: 17px;
    }

    .store{
        min-height: 700px;
    }

    .store h2{
       font-size: 38px;
    }

    .container-slider{
        top: -100px;
    }

}
